

// body {
//   font-family: 'Arial', sans-serif;
//   background-color: #f4f7fb;
//   color: #333;
// }

h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

/* Container */
.todo-container {
  max-width: 600px;
  margin: 10px auto;
  padding: 11px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Loading and Error States */
.loading, .error {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c;
}

/* Todo List */
.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #f8f8f8;
  }
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #ff4d4d;
  transition: color 0.2s;
  margin-left: 25px;

  &:hover {
    color: #d32f2f;
  }
}


.todo-content {
  display: flex;
  flex-direction: column;
}
.todo-content:hover{
  color:blueviolet
}

.todo-task {
  font-size: 1.1rem;
  font-weight: 500;
  color: #34495e;
}

.todo-task.completed {
  text-decoration: line-through;
  color: #2ecc71;
}

.todo-status {
  font-size: 0.9rem;
  color: #7f8c8d;
}

.todo-status.completed {
  color: #2ecc71;
}

.todo-status.pending {
  color: #f39c12;
}
// App.scss

/* Filter Button Styles */
.filter-buttons {
  display: flex;
  gap: 5px; 

  .filter-button {
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover {
      border-color: rgba(175, 47, 47, 0.1);
      background-color: #f1f1f1;
    }

    &.active {
      border-color: rgba(175, 47, 47, 0.2);
      background-color: rgba(175, 47, 47, 0.1);
      color: rgba(175, 47, 47, 0.8); /* Add a color change when active */
    }
  }

  /* Clear Completed Button */
  .clear-completed {
    margin-left: auto; /* Push clear button to the right */

    .clear-button {
      padding: 8px 12px;
      border: none;
      border-radius: 3px;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      transition: text-decoration 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




